@import 'styles/global.scss';

.eventContainer{
	.event{
		position: relative;
		.eventImage{
			min-height: 150px;
			width: 100%;
			height: auto;
			display: flex;
			background-color: white;
		}
		.lfg_button{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background: $green;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			margin-top: -25px;
			right: 20px;
			transition: 0.2s;
			&.inactive{
				transform: scale(0);
				transition-timing-function: ease-out;
				animation: disappear 0.4s;
			}
			@keyframes disappear {
				99% {display: flex}
				100% {display: none}
				
			}
		}
		.eventContent{
			padding: 0 40px;
		}
		.title{
			margin: 0;
			margin-top: 20px;
			font-weight: 400;
			font-size: 1.6rem;
		}
		.date{
			margin: 0;
			font-size: 0.8rem;
			font-weight: 400;
		}
		.host{
			margin: 0;
			margin-top: 15px;
			font-size: 0.8rem;
			font-weight: 400;
			font-style: italic;
		}
		.location {
			margin: 0;
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 0.8rem;
			font-weight: 400;
			font-style: italic;
		}
		.description *{
			font-size: 1rem;
			font-weight: 300;
		}
		a {
			text-decoration: underline;
			word-wrap: break-word;
			color: $lightblue;
		}
	}
}