@import 'styles/global.scss';


  .groups {
    margin-top: 0;
    padding: 20px 5px;
    list-style: none;
    a{
      display: block;
    }
    a+a {
      margin-top: 20px;
    }
    .prompt {
      padding: 20px 20px;
      p {
        text-align: center;
        color: $highlightblue;
      }
    }
  }