@import './global.scss';

.layout{
	background-color: $darkblue;
	display: flex;
	flex-direction: column;
}

.navbar_top{
	display: flex;
	flex-direction: row;
	background-color: $greyblue;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	height: 50px;
	*{
		@include ui;
	}
}
.body{
	height: calc(100vh - 100px);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.navbar_bottom{
	display: flex;
	flex-direction: row;
	background-color: $greyblue;
	justify-content: space-around;
	align-items: center;
	// padding: 0 20px;
	height: 50px;
	margin-top: auto;
	*{
		@include ui;
	}
	>div{
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 300;
	}
	.active{
		background-color: $highlightblue;
		font-weight: 400;
	}
}

/***********************************
***********************************/

.eventCardContainer{
	padding: 20px 20px 0px 20px;
	height: calc(100% - 120px);
	.eventCard{
		background-color: white;
		border-radius: 20px;
		height: 100%;
		padding: 20px;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		box-sizing: border-box;
		*{
			color: #fff;
		}
		&::before{
			content: '';
			display: block;
			background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(0,0,0,0.8) 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 35%;
			width: 100%;
		}
		.title{
			margin: 0;
			z-index: 1;
		}
		.date{
			margin: 0;
			// margin-top: 0px;
			font-size: 0.8rem;
			font-weight: 400;
			z-index: 1;
		}
		.host{
			margin: 0;
			margin-top: 15px;
			font-size: 0.8rem;
			font-weight: 400;
			font-style: italic;
			z-index: 1;
		}
		.info{
			margin: 0;
			z-index: 1;
			position: absolute;
			right: 20px;
			border: 2px solid #fff;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
		}
	}
}

.eventCardControls{
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: auto;
	.button_remove{
		border-radius: 50%;
		background-color: $highlightblue;
		color: $white;
		height: 60px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.button_add{
		border-radius: 50%;
		background-color: $highlightblue;
		color: $red;
		height: 60px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}