@import './global.scss';

.layout{
	background-color: $darkblue;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.navbar_top{
	display: flex;
	flex-direction: row;
	background-color: $greyblue;
	justify-content: space-between;
	padding: 20px 40px;
}
.navbar_bottom{
	display: flex;
	flex-direction: row;
	background-color: $greyblue;
	justify-content: space-around;
	padding: 20px 40px;
	margin-top: auto;
}