@import './global.scss';

.layout{
	background-color: $darkblue;
	display: flex;
	flex-direction: column;
}

.navbar_top{
	display: flex;
	flex-direction: row;
	background-color: $greyblue;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	height: 50px;
}
.body{
	height: calc(100vh - 100px);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.navbar_bottom{
	display: flex;
	flex-direction: row;
	background-color: $greyblue;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	height: 50px;
	margin-top: auto;
}

.tabsContainer{
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.tabs{
		padding-left: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		margin: 0;
		.tab{
			min-width: 150px;
			text-align: center;
		}
	}
}

.tabContent{
	height: calc(100% - 50px);
	overflow-y: scroll;
	.events{
		margin-top: 0;
		padding: 20px 5px;
		list-style: none;
		.event{
			background-color: $blue;
			border-radius: 50px;
			padding: 10px 30px 10px 35px;
			position: relative;
			display: flex;
			flex-direction: column;
			&::before{
				content: '';
				display: block;
				background-color: $yellow;
				height: 65%;
				width: 5px;
				border-radius: 50px;
				position: absolute;
				left: 20px;
				top: calc(35% / 2);
			}
			&+.event{
				margin-top: 20px;
			}
			.title{
				margin: 0;
			}
			.date{
				margin: 0;
				margin-top: 4px;
				font-size: 0.8rem;
			}
			.host{
				margin: 0;
				margin-top: 8px;
				font-size: 0.8rem;
				font-style: italic;
				opacity: 0.8;
			}
		}
	}
}