@font-face {
	src: '../assets/Roboto-Regular.ttf';
	font-family: 'Roboto';
	font-weight: 400;
}

@font-face {
	src: '../assets/Roboto-Bold.ttf';
	font-family: 'Roboto';
	font-weight: bold;
}

@font-face {
	src: '../assets/Roboto-Light.ttf';
	font-family: 'Roboto';
	font-weight: 300;
}

$blue:#1D2052;
$greyblue:#201F3F;
$darkblue:#0D0C36;
$highlightblue:#302F51;
$yellow:#FFFF0E;
$white:#DDDDF5;
$green: #22FF00;
$red: #FF2626;
* {
	font-size: 16px;
	color: $white;
	font-family: "Roboto";
}

@mixin ui {
	font-size: 0.8rem;
}

a {
	text-decoration: none;
}

.hidden {
	visibility: hidden;
}