<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/discovery.css">
</head>
<body>
	<div class="layout">
		<div class="navbar_top">
			<div>Back</div>
			<!-- <div class="logo">yoUTS</div> -->
			<div class="currentPage">Discovery</div>
		</div>
		<div class="body">
			<div class="eventCardContainer">
				<div class="eventCard">
					<h1 class="title">Event Name</h1>
					<h3 class="date">dd/mm/yy - hh:mm</h3>
					<h3 class="host">UTS MonkaS</h3>
					<span class="info">i</span>
				</div>
			</div>
			<div class="eventCardControls">
				<div class="button_remove">:(</div>
				<div class="button_add"><3</div>
			</div>
		</div>
		<div class="navbar_bottom ui">
			<div class="active">Discovery</div>
			<div class="">My List</div>
		</div>
	</div>
</body>
</html>