<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/event.css">
</head>
<body>
	<div class="layout">
		<div class="navbar_top">
			<div>Back</div>
			<!-- <div class="logo">yoUTS</div> -->
			<div class="currentPage">Discovery</div>
		</div>
		<div class="body">
			<div class="eventContainer">
				<div class="eventImage"></div>
				<div class="eventContent">
					<h1 class="title">Event Name</h1>
					<h2 class="date">dd/mm/yy - hh:mm</h2>
					<h2 class="host">UTS MonkaS</h2>
					<div class="description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, nunc sed scelerisque volutpat, felis neque luctus nunc, ac tempus diam nisi aliquet metus. Etiam maximus molestie ex non maximus. Curabitur elementum porta libero in bibendum. Ut vestibulum eu arcu ac aliquam. Duis quis tortor justo. Quisque dictum nulla a quam scelerisque, eget semper tortor </p>
						<p>www.example.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar_bottom ui">
			<div class="active">Discovery</div>
			<div class="">My List</div>
		</div>
	</div>
</body>
</html>