<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/group.css">
</head>
<body>
	<div class="layout">
		<div class="navbar_top">
			<div></div>
			<!-- <div class="logo">yoUTS</div> -->
			<div class="currentPage">Groups</div>
		</div>
		<div class="body">
			<div class="groupContainer">
				<div class="event">
					<h1 class="title">Event Name</h1>
					<h3 class="date">dd/mm/yy - hh:mm</h3>
					<h3 class="host">UTS MonkaS</h3>
					<span class="info">i</span>
				</div>
				<div class="groupCount">
					<span>Group 1/5</span>
				</div>
				<ul class="groupMembers">
					<li class="groupMember">
						<span>Name: Sebastian Guillema</span>
						<span>Facebook: www.facebook.com/example</span>
					</li>
					<li class="groupMember">
						<span>Name: Sebastian Guillema</span>
						<span>Facebook: www.facebook.com/example</span>
					</li>
					<li class="groupMember">
						<span>Name: Sebastian Guillema</span>
						<span>Facebook: www.facebook.com/example</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="navbar_bottom ui">
			<div class="">Discover</div>
			<div class="active">Groups</div>
			<div class="">My List</div>
		</div>
	</div>
</body>
</html>