<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/groupList.css">
</head>
<body>
	<div class="layout">
		<div class="navbar_top">
			<div></div>
			<!-- <div class="logo">yoUTS</div> -->
			<div class="currentPage">Groups</div>
		</div>
		<div class="body">
			<div class="groupList">
				<ul class="groups">
					<a href="">
						<li class="group">
							<h3 class="title">
								Event Name
							</h3>
							<span class="size">
								1/5
							</span>
						</li>
					</a>
					<li class="prompt">
						<p>Check 'My List' to join-up on other events!</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="navbar_bottom ui">
			<div class="">Discover</div>
			<div class="active">Groups</div>
			<div class="">My List</div>
		</div>
	</div>
</body>
</html>