<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/list.css">
</head>
<body>
	<div class="layout">
		<div class="navbar_top">
			<div>Back</div>
			<!-- <div class="logo">yoUTS</div> -->
			<div class="currentPage">My List</div>
		</div>
		<div class="body">
			<div class="tabsContainer">
				<ul class="tabs">
					<li class="tab active">
						Upcoming
					</li>
					<li class="tab">
						Past
					</li>
				</ul>
			</div>
			<div class="tabContent">
				<ul class="events">
					<li class="event">
						<h3 class="title">
							Event Name
						</h3>
						<span class="date">
							dd/mm/yy - hh:mm
						</span>
						<span class="host">
							UTS MonkaS
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="navbar_bottom ui">
			<div class="">Discover</div>
			<div class="active">My List</div>
		</div>
	</div>
</body>
</html>