@import 'styles/global.scss';

.myList {
  .tabsContainer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      @include ui;
    }
    .tabs {
      padding-left: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      height: 30px;
      .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        text-align: center;
        position: relative;
        &::after{
          content: '';
          width: 0%;
          height: 2px;
          background: $lightblue;
          position: absolute;
          bottom: 0;
          opacity: 0;
          transition: 0.3s;
          transition-timing-function: ease-out;
        }
      }
      .active {
        &::after{
          opacity: 1;
          width: 70%;
          margin-top: 10px;
          left: calc(50% - 50px);
        }
      }
    }
  }

  .tabContent {
    height: calc(100% - 50px);
    overflow-y: scroll;
    .events {
      margin-top: 0;
      padding: 20px 5px;
      list-style: none;
    }
  }
}