@import 'styles/global.scss';

.myList {
  .tabsContainer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      @include ui;
    }
    .tabs {
      padding-left: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      .tab {
        min-width: 150px;
        text-align: center;
      }
    }
  }

  .tabContent {
    height: calc(100% - 50px);
    overflow-y: scroll;
    .events {
      margin-top: 0;
      padding: 20px 5px;
      list-style: none;
    }
  }
}