@import 'styles/global.scss';

.eventItem {
  background-color: $blue;
  border-radius: 50px;
  padding: 10px 30px 10px 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  li{
    display: flex;
    flex-direction: column;
  }
  &::before {
    content: '';
    display: block;
    background-color: $yellow;
    height: 65%;
    width: 5px;
    border-radius: 50px;
    position: absolute;
    left: 20px;
    top: calc(35% / 2);
  }
  &+.eventItem {
    margin-top: 20px;
  }
  .title {
    margin: 0;
  }
  .date {
    margin: 0;
    margin-top: 4px;
    font-size: 0.8rem;
  }
  .host {
    margin: 0;
    margin-top: 8px;
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.8;
  }
}